* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;

    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    -webkit-background-size: cover;
    background-size: cover;
}

.settings {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-color: #fff;
    background-image: linear-gradient(to left, #fff1eb 0%, #ace0f9 100%);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

    border-radius: 10px;
    cursor: pointer;
}

.settings__title {
    border-bottom: 2px solid rgba(27, 227, 204, 1);;
}

/*
.settings::before {
    content: "X";

    position: absolute;
    right: 5px;
    top: 0;

    display: block;
    width: 10px;
    height: 10px;

}
*/


.visualization-hidden {
    display: none;
    width: 1px;
    margin-left: -1100px;
}

.settings__list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.settings__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    font-size: 16px;
}

label {
    width: 50%;
    padding: 10px;
    font-size: 18px;
}

.settings__input {
    width: 50%;
    padding: 10px;
    margin: 0 auto;

    font-size: inherit;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(164, 235, 179, 1);
    outline: none;
}

.settings__input:focus {
    border-bottom: 2px solid darkblue;
}

.button-start_app {
    padding: 10px 0;
    width: 100%;

    color: #ffffff;
    font-size: 18px;

    background-color: rgba(65, 47, 128, 0.5);
    border-radius: 25px;

    border: none;
    outline: none;
}

.button-start_app:hover {
    background-color: rgba(65, 47, 128, 1);
}


.visualization {
    position: relative;
}

#duration {
    position: absolute;
    left: 50%;
    top: 48%;

    font-size: 30px;
    font-weight: bold;
    color: #ffffff;

    transform: translate(-50%, -50%);
}

.wrapper {
    border-radius: 50%;
}


.button-control {
    padding: 0 0 5px 0;
    margin-left: 7px;
    font-size: 15px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;

    outline: none;
}

.button-control:hover {
    color: skyblue;
    border-bottom: 1px solid skyblue;
}